<%= form_with(model: task, local: true, url: choose_new_or_edit ) do |form| %>
<% if task.errors.any? %>
<div id ="error_explanation">
<<<<<<< HEAD
  <h2><%= @task.errors.count %>件のエラーがあります</h2>
=======
  <h2><% pluralize(task.errors.count, "error") %>エラーが発生しました</h2>
>>>>>>> f40fcb2003bcc65bc2dc99371923b0967e8c1ba1
  
  <ul>
  <% task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class = "task_row">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="task_row">
  <%= form.label :content %>
  <%= form.text_field :content %>
</div>

<div class="action">
  <%= form.submit "完了" %>
</div>
<% end %>


<footer>
  <%= link_to '一覧に戻る', tasks_path %>
</footer>