<h3>以下の内容でタスクを登録しますか？</h3>
<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :end_date %>
  <p><%= @task.title %></p>
  <p><%= @task.content %></p>
  <p><%= @task.end_date %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit  "戻る", name: 'back' %>
<% end %>