<body>

<header>
<div class="header_form">
  <h3><%= @user.name %>のページ(ID:<%= @user.id %>)</h3>
  <p>メールアドレス: <%= @user.email %> </p>
</div>
</header>

<main>
<div class="main_form">
<h2>タスク一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>タスク名</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>優先順位</th>
      <th>ステータス</th>
    </tr>
  </thead> 
  <% @user.tasks.each do |task| %>
    <tbody>
  <tr class="task_row"> 
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.end_date %></td>
    <td><%= task.priority %></td>
    <td><%= task.status %></td>

  <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <td><button type="button" class="btn btn-secondary"><%= link_to '詳細', task_path(task.id) %></button></td>
    <td><button type="button" class="btn btn-secondary"><%= link_to '編集', edit_task_path(task) %></button></td>
    <td><button type="button" class="btn btn-secondary"><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除しますか？' } %></button></td>
  </div>
</tr>
</tbody>
<% end %>
</table>
<br>
</div>
</main>
  
<%# <footer>
<div class="paginate_form">
 <%= paginate(@user.tasks) %>
 <%# </div>
</footer> %>

</body>
